  .page-title {
    margin-top: 0px;
    background: white;
    height: 15vh;
    width: 100%;
    /* margin-left: 23rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
}
.title-1 {
    color: #6c757d;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}
.icon-app{
    font-size: 1.7rem;
}

.title-1 a {
    color: #6c757d;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
}
button.add-cat {
    color: #727cf5;
    border: 1px solid #727cf5;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.7rem 1rem;
    background-color: white;
}

button  a {
    color: #727cf5;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 100;
}

.card {
    margin-top: 2rem;
    background: white;
    height: 60vh;
    width: 100%;
    /* margin-left: 23rem; */
    align-items: center;
    padding: 1rem 2rem;
    padding: 2rem;
    box-sizing: border-box;
}
.title-2 {
    color: #6c757d;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.form {
    margin-top: -5rem;
}
.search{
    margin-top: 3rem;
}
.drop-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.drop-no{
    font-size: 0.9rem;
    color: #6c757d;
    margin-top: 3rem;
}
.drop-no select{
    color: #6c757d;
    font-size: 1rem;
}
.dropdown1 button{
    width: 2rem;
    height: 2rem;
    background-color: white;
}
#counts {
    font-size: 1rem;
    border-radius: 0.3rem;
    padding: 0.2rem 0.8rem;
    margin-left: 70%;
    margin-top: 2rem;
}
.drop-search input[type=text] {
    width: 100%;
    height: 2rem;
    border: 1px solid #6c757d;
    border-radius: 0.3rem;
}
.code label{
    width: 100%;
}
.code input[type=code] {
    width: 53%;
    height: 2rem;
    border: 1px solid #6c757d;
    border-radius: 0.3rem;
}
.data input[type=date] {
    width: 30%;
    height: 2rem;
    border: 1px solid #6c757d;
    border-radius: 0.3rem;
}
.drop-search a{
   font-size: 1rem;
   color: #6c757d;

}
#date {
    height: 2rem;
    width: 62%;
    border-radius: 0.3rem;
    border: 1px solid gray;
    margin-right: 19rem;
}
.secline {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    /* justify-content: space-between; */
    width: 100%;
}
.code {
    width: 35%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    border-radius: 0.3rem;
    width: 50%;
    padding: 10px;
    margin: 3px 0 22px 0;
    display: inline-block;
    border: 1px solid gray;
    background: white;
}
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
    padding: 16px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    text-align: center;
    margin-left: 46%;
    margin-top: 2rem;
}
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  /* page count */
  .pagination {
    display: inline-block;
    margin-left: 25rem;
    margin-top: 2rem;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}