<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="courseFinish" style="width: 350px;margin: auto;">
        <center>
            <h1>Thank you</h1>
            <h3>You are just one click away</h3>
            <button style="width: fit-content; padding: 5px; border-radius: 5px; background-color: rgb(200, 0, 255);"
                onclick="submit_course()">Submit</button>
        </center>
    </div>

    <script>
        function submit_course() {
            console.log(addCourseDataTemp)
            //addCourseData["user"]=mdata
            console.log(mdata)
            user={mail:mdata['ret'][0][2], mobile: mdata['ret'][0][3]}
            JSON.stringify(addCourseData)
            $(document).ready(function () {
                $.ajax({
                    url: "save_courses",
                    data: $.extend(basic,req,outcome,price,media,seo,user),
                    type: 'POST',
                    success: function (data, textStatus, jqXHR) {
                        console.log(data)
                        $("#mainContent").load("courses")
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("not bad......")
                        alert("Error from server....")
                    },
                })
            })
            
        }
    </script>
</body>

</html>