* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: whitesmoke;
}
.page-title {
  margin-top: 2rem;
  background: white;
  height: 24vh;
  width: 100%;
  /* margin-left: 23rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.title-1 {
  color: #6c757d;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}
.icon-app{
  font-size: 1.7rem;
}

.title-1 a {
  color: #6c757d;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}
button.add-cat {
  color: #727cf5;
  border: 1px solid #727cf5;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  background-color: white;
}

button  a {
  color: #727cf5;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 100;
}

.card{
  margin-top: 2rem;
  background: white;
  height: 100vh;
  width: 100%;
  /* margin-left: 23rem; */
 
  align-items: center;
  padding: 2rem 2rem;
}
.title-2 {
  color: #6c757d;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}
.menu-bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.menu-bar ul  .active{
  background-color: #727cf5;
}
.menu-bar ul  .active a{
  color: white;
}
.menu-bar ul li{
  text-decoration: none;
  list-style: none;
  width: 20%;
  background-color: rgb(206, 205, 241);
  /* border: 1px solid gray; */
  padding: 0.7rem 0rem;
}
.menu-bar a{
  text-decoration: none;
  color: gray;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0rem;
  height: 2rem;
}
input{
  width: 80%;
  text-align: left;
  border-radius: 0.3rem;
}
.info .form-control{
  width: 80%;
  border-radius: 0.3rem;
}
.info-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0rem;
  height: 2rem;
  margin-top: 42vh;

}
input[type=file]{
  border:1px solid gray
}
button[type=submit]{
  border:1px solid gray;
  color:white;
  background-color: #727cf5;
}
.fa-arrow-right{
  color: white;
}
.fa-arrow-left{
  color: white;
}
.registerbtn{
margin-left: 53%;
width: 3rem;
height: 2.5rem;
}
.registerbtn2{
  width: 3rem;
  height: 2.5rem;
  }
.registerbtn1{
  margin-left: 49%;
  width: 3rem;
  height: 2.5rem;
  }
  .registerbtn3{
    margin-left: 51%;
  width: 3rem;
  height: 2.5rem;
  }
.middle span{
  margin-left: 20%;
  font-size: 0.7rem;
  color: gray;
}

.middle .fa-check{
  color: #6c757d;
  width: 8rem;
  margin-left: 48%;
  font-size:1.5rem ;
  margin-top: 2rem;
  text-align: center;
}
.middle p{
  margin-left: 46%;
  font-size: 0.9rem;
  color: rgb(141, 137, 137);
}
.registerbtn-main {
  margin-left: 48.5%;
  width: 7rem;
  height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #bfc3f3 !important;
  border:1px solid #727cf5 !important;
  border-radius: 0.2rem;
  font-weight: 300;
}


