* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  

/* footer */
.footer-main{
    height: 80vh;
     background-color: #222222;
     color: #777777; 
     margin-top: 5rem;
   }
   .footer-area{
     /* height: 80vh;
     background-color: #222222;
     color: #777777; */
     display: flex;
     flex-wrap: wrap;
     padding: 1rem 16rem 1rem 7rem ;
     justify-content: space-between;
   }
   .footer-col {
    display: flex;
    flex-direction: column;
    width: 31%;
}
   .footer-col p {
     width: 80%;
     font-size: 1rem;
     word-spacing: 2px;
     line-height: 1.5;
     margin-bottom: 2rem;
   }
   .footer-area .logo {
     margin-top: 2rem;
     float: left;
     width: 60%;
     height: 20%;
     display: flex;
     align-items: center;
     font-size: 24px;
     color: #fff;
     background-color: #f8f2f2;
   }
   .footer-area .logo img{
     width: 80%;
     margin: 1.5rem 1rem;
   }
   .footer-col .gray-btn a{
     color: #cccccc;
     text-decoration: none;
     border: 3px solid #ccc;
     width: 30%;
     padding: 0.5rem 2rem;
     margin-top: 1rem;
   }
   .footer-col-2 {
    width: 31%;
    text-align: left;
    /* margin-left: 4rem; */
    line-height: 2rem;
}
.footer-col-2 h3 {
    margin-bottom: 1.6rem;
}
   .footer-col-2 ul{
     margin-top: 2rem;
   }
   .footer-col-2 ul li a{
   color: #777777;
   text-decoration: none;
   }
   
   
   .footer-col-3{
     margin-left: 3rem;
   }
   .footer-col-3 h3{
     margin-bottom: 1.6rem;
   }
   .footer-col-3 {
    width: 33%;
    text-align: left;
    /* margin-left: 4rem; */
    line-height: 2rem;
}
   .footer-col-3 p{
     width: 87%;
   }
   .ft-address span{
     color: #ffc000;
   }
   .ft-address .dt-1{
     display: flex;
     flex-wrap: wrap;
   }
   .ft-address .dt-2{
     display: flex;
     flex-wrap: wrap;
   }
   .ft-address .dt-2 a{
     color: #777777;
     }
     .ft-address .dt-3 a{
       color: #777777;
       }
   .ft-address .dt-3{
     display: flex;
     flex-wrap: wrap;
   }
   .ft-address .dt-img{
   margin-right: 2rem;
   }
   .font-lato{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding:2rem 6rem 0 6rem
   }
   .row-holder ul{
     display: flex;
     flex-wrap: wrap;
   }
   .com-copy a{
   color: #777777;
   text-decoration: none;
   }
   .row-holder ul li {
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   }
   .row-holder ul li a{
     color: #777777;
     font-size: 1.5rem;
     padding: 0 0.3rem;
   }


   @media screen and (max-width: 767px) {
    .footer-area .logo {
        height: 22%;
    }
    .footer-main {
        height: 120vh;
        width: 100%;
    }
    .footer-area {
        padding: 1rem 0rem 1rem 0rem;
        width: 100%;
    }
    .footer-col-2 {
        width: 100%;
        text-align: left;
        margin-left: 0rem;
        line-height: 2rem;
    }
    .footer-col-3 {
        width: 100%;
        text-align: left;
        margin-top: 4rem;
        line-height: 2rem;
        margin-left: 0rem;
    }
    .footer-col {
        width: 100%;
    }
    .cam-copy p{
        width: 100%;
    }






}





  

   @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .footer-area {
        padding: 1rem 1rem 1rem 1rem;
    }
    .footer-col {
        width: 58% !important;
    }
    .footer-area .logo {
        height: 23%;
    }
    .footer-col-3 {
        width: 55%;
    }
    
    
    
    
    
      }