* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .header-up {
    background-color: rgb(28, 27, 27);
    height:8vh;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
  }
  .vl{
    height:8vh;
    border-left:1px solid rgb(184, 181, 181);
    margin: 0 1rem;
  }
  .box-1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding-left: 8rem;
    /* border-left: 1px solid rgb(184, 181, 181); */
    
  }
  .box-1 p {
   font-size: 0.8rem;
    color: #fff;
  }
  .box-1 a {
    font-size: 0.8rem;
    margin-left: 1rem;
    color: rgb(122, 119, 119);
  }
  .box-2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .box-2 p {
    font-size: 0.8rem;
    margin-left: 3rem;
    color: #fff;
  }
  .box-2 a {
    font-size: 0.8rem;
    margin-left: 1rem;
    color: rgb(122, 119, 119);
  }
  .fa-lg{
    /* margin-top: 1rem; */
    color: white;
    align-items: right;
  }
  .badge:after{
  
    content:attr(value);
    font-size:12px;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
  }
  .right-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 40rem;
}
  .right-box .btn{
    background-color: #ffc000;
    margin-bottom: 2rem;
    padding: 0.3rem 1.4rem;
    margin-top: -0.5rem;
  }
  .right-box .btn a{
    color: #777777;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .header-p2{
    margin-right: 1rem;
    width: 50%;
  }
  /* nav {
    display: flex;
   justify-content: space-between;
   margin-bottom: 3rem;
    z-index: 10;
    left: 0;
    right: 0;
  height: 20vh;
    font-family: "Montserrat", "sans-serif";
    background-color: white;
    padding: 0% 5%;
    border-bottom: solid 2px rgb(231, 224, 224);
  }
  nav .logo {
    margin-top: 2rem;
    float: left;
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
  }
  nav .links {
    float: right;
    padding: 0;
    margin-right: 0rem;
    width: 74%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  nav .links li {
    list-style: none;
  }
  nav .links a {
    display: block;
    padding: 1em;
    font-size: 14px;
    color: black;
    text-decoration: none;
    position: relative;
  }
  nav .links a:hover {
    color: #fcca46;
  }
  nav .links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fcca46;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  nav .links a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    color: white;
  }
  #nav-toggle {
    position: absolute;
    top: -100px;
  }
  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    transform: translateY(-50%);
  } */





  
  nav .logo {
    margin-top: 2rem;
    float: left;
    width: 100%;
    height: 69%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
  }
  nav ul {
    float: right;
    padding: 0;
    margin-right: 0rem;
    width: 37%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  nav ul li {
    list-style: none;
  }
  nav ul {
    display: block;
    padding: 1em;
    font-size: 14px;
    color: black;
    text-decoration: none;
    position: relative;
  }
  nav{
    display: flex;
   justify-content: space-between;
   margin-bottom: 3rem;
    z-index: 10;
    left: 0;
    right: 0;
  height: 20vh;
    font-family: "Montserrat", "sans-serif";
    background-color: white;
    padding: 0% 5%;
    border-bottom: solid 2px rgb(231, 224, 224);
  }



nav ul {
    display: flex;
}

nav ul li a{
    font-size: 1rem;
    display: block;
    color: black;
    padding: 8px 10px;
    margin: 0px 5px;
    font-weight: 500;
    border-top: 4px solid transparent;    
    border-bottom: 4px solid transparent;
    border-radius: 2px;
    transition-property: border-bottom,background-color;
    transition-duration: 0.4s;    
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(146, 226, 226);
    /* border-bottom: 4px solid black; */
}

#toggle{
    display: none;
}

#toggle-btn{
    display: none;
    text-align: right;
}

#toggle-btn i{
    font-size: 25px;
    padding: 7px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}


  @media screen and (max-width: 767px) {
    /* nav .logo {
      float: none;
      width: auto;
      justify-content: center;
    }
    nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgb(175 166 166 / 80%);
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      height: auto;
    }
    nav .links a {
      font-size: 20px;
    }
    nav :checked ~ .links {
      bottom: 0;
    }
    nav .icon-burger {
      display: block;
      position: absolute;
      right: 5%;
      transform: translateY(-50%);
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    } */


    
#toggle-btn{
    display: block;
    margin-right: 6rem;
}

#toggle-btn i {
    font-size: 20px;
    padding: 8px;
    margin-top: 4rem;
    margin-right: -5rem;
}

nav > ul{
    display: none;
}

#toggle:checked + ul {
    display: block;
    margin-top: 10rem;
    width: 35%;
    background: #9f9f9f;
    height: 27vh;
}

nav ul li{
    display: block;
    text-align: left;
}

nav ul li a{
    font-size: 14px;
}

    /* upperside */
    .header-up {
        height: 0%;
    } 
    .box-2 a {
        font-size: 0.8rem;
        margin-left: 0rem;
        color: rgb(122, 119, 119);
    }
    .box-1 {
        padding-left: 0rem;
    }
    .box-1 a {
        font-size: 0.8rem;
        margin-left: 0rem;
        color: rgb(122, 119, 119);
    }
    .box-2 {
        margin-left: -2rem;
    }
    
    .right-box {
        margin-top: 1rem;
        margin-left: 0rem;
    }
    













  }


  @media only screen and (min-width: 768px) and (max-width: 1050px) {
    .right-box {
        margin-left: 4rem;
    }

.box-1 {
    padding-left: 0rem;
  }

  

#toggle-btn{
    display: block;
}

nav > ul{
    display: none;
}

#toggle:checked + ul{
    display: block;
}

nav ul li{
    display: block;
    text-align: left;
}


nav ul li a{
    font-size: 16px;
}
  }