* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background-color: whitesmoke;
  }
  .page-title {
    margin-top: 2rem;
    background: white;
    height: 24vh;
    width: 100%;
    /* margin-left: 23rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.title-1 {
    color: #6c757d;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}
.icon-app{
    font-size: 1.7rem;
}

.title-1 a {
    color: #6c757d;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
}
.card .header-title {
    /* margin-bottom: 0.5rem; */
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: .875rem;
    margin-top: 0;
    
}
.mb-3 {
    margin-bottom: 1.5rem!important;
}
.h4{
    margin: 10px 0;
    font-weight: 700;
    line-height: 1.1;
    background-color: #fff;

}
label {
    font-weight: 400;
}
label {
    display: inline-block;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
}


.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
    color: #6c757d;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-search--dropdown {
    padding: 10px;
    /* background-color: #fff; */
}

.select2-search--dropdown {
    display: block;
    
}

textarea.form-control {
    
    height: auto;
}
.form-control {
    display: block;
   width: 100%;
  
    /* height: 100%; */
    padding: 0.45rem 0.9rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    /* -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; */
}

.btn-primary:hover {
    /* color: #fff; */
    background-color: #4e5bf2;
    border-color: #4250f2;
}
.btn:hover {
    /* color: #6c757d; */
    text-decoration: none;
}
 [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-primary {
    box-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);
}
.btn-block {
    /* display: block; */
    margin-left: 35%;
    margin-top: 20px;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    /* color: white; */
    background-color: rgb(114 124 245 / 50%);
    border-color: none;
    text-align: center;
    
    
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
 .input-group>.form-control 
 {
    position: relative;
    /* -webkit-box-flex: 1; */
    /* -ms-flex: 1 1 auto; */
    flex: 1 1 auto;
    width: 100%;
    /* height: auto; */
    margin-bottom: 0;
    
}

.card{
    margin-top: 2rem;
   
    /* background: white; */
    width: 100%;
    /* align-items: center; */
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    float: left;

    /* height: auto; */
}
.card-body {
    /* -webkit-box-flex: 1; */
    /* -ms-flex: 1 1 auto; */
    /* flex: 1 1 ; */
    width: 50%;
    padding: 1.5rem;
    background-color: white;

}
card {
    border: none;
    /* -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%); */
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    margin-bottom: 30px;
}

.card {
    position: relative;
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /* -ms-flex-direction: column; */
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    /* border: 1px solid #e3eaef; */
    border-radius: 0.25rem;
}