<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="B-Long school" />

  <meta name="keywords" content="LMS,Learning Management System" />
  <meta name="description" content="Nice application" />


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/addinstructorlist.css') }}">

  <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet">
  <!-- for apple-keyboard-command icon -->
  <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  <script src="ckeditor/ckeditor.js"></script>
  <script>  
    function logincred_instruct(){
        $(document).ready(function () {
            $("#mainContent").load("logincred_instruct")
    })
    }
    
    function social_instruct(){
        $(document).ready(function () {
            $("#mainContent").load("social_instruct")
    })
    }
    function pay_instruct(){
        $(document).ready(function () {
            $("#mainContent").load("pay_instruct")
    })
    }
    function finish_instruct(){
        $(document).ready(function () {
            $("#mainContent").load("finish_instruct")
    })
    }
    
</script>

</head>

<body>
  <!-- PAGE CONTAINER-->
  <h4 class="page-title">
    <div class="title-1">
      <div class="icon-app"><iconify-icon icon="mdi:apple-keyboard-command"></iconify-icon></div>
      <a> Instructor</a>
    </div>
    
  </h4>

  <div class="card">
    <h4 class="title-2">Instructor Add Form</h4>
    <div class="menu-bar">
      <ul>
        <li class="active" style="background-color: blueviolet;"><a><i class="fa fa-info-circle" aria-hidden="true"></i>Basic
            info</a></li>
        <li ><a onclick="logincred_instruct()"><i class="fa fa-lock"></i>Login credentials</a></li>
        <li><a onclick="social_instruct()"><i class="fa fa-wifi" aria-hidden="true"></i>Social information</a></li>
        <li><a onclick="pay_instruct()"><i class="fa fa-euro-sign" aria-hidden="true"></i>Payment info</a></li>
        <li><a onclick="finish_instruct()"><i class="fa fa-check"></i>Finish</a></li>
      </ul>
    </div>

    <section>
      <div class="info">
        <label>Name</label><input type="text" placeholder="" id="tname">
      </div>
      <div class="info">
        <label>Last Name</label><input type="text" placeholder="" id="tlname">
      </div>
      <div class="info"> <label class="" for="description">Biography</label>
       <div  class="form-control"> <textarea name="description" id="tdesc"></textarea></div>
      </div>
      <script>
        CKEDITOR.replace('description')
      </script>
      <div class="info-img"> <label>User Image</label> 
        <input type="file" id="img" name="img" accept="image/*" onchange="readURL(this);">
      </div>
      
    </section>

    <button class="registerbtn" onclick="logincred_instruct()"><a><i class="fa fa-arrow-right"></i></a></button>
    <script>
      let string
      function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    //console.log(e.target.result)
                    string=e.target.result
                    //$('#blah').attr('src', e.target.result).width("fit-content").height("fit-content");
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
      function logincred_instruct(){
        
        let tname=document.getElementById("tname").value
        let tlname=document.getElementById("tlname").value
        let tdesc=document.getElementById("tdesc").value
        let img=string
        console.log(img)
        $.extend(teacher_data,{tname:tname,tlname:tlname,tdesc:tdesc,img:img})
      }
    </script>

</body>

</html>