<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .master{
            display: grid;
            grid-template-columns: 20% 80%;
        }
        .side{

        }

    </style>
</head>

<body>
    <div class="master">
        <div class="side">
            Select Certificate
            <select name="cars" id="cars" style="width: 90%;margin: 10px auto;">
                <option value="1">Template 1</option>
                <option value="2">Template 2</option>
                <option value="3">Template 3</option>
                <option value="4">Template 4</option>
            </select>
            
            <br>
            <img src="{{ url_for('static',filename='certificate.png') }}" alt="" style="width: 90%;margin: 10px auto;" id="">
            <br>
            Font style
            <select name="cars" id="fonts" style="width: 90%;margin: 10px auto;">
            </select>
            Font size
            <input type="number" value="10" style="width: 90%;margin: 10px auto;" id="size">
            Font color
            <input type="color" name="" id="col">
            <button style="width: 90%;margin: 10px auto;" onclick="Preview()">Preview Sample</button>
            <button style="width: 90%;margin: 10px auto;" onclick="Generate()">Generate</button>
        </div>
        <div class="editable">
            <img src="{{ url_for('static',filename='certificate.png') }}" alt="" style="width: 100%;" id="img">
        </div>
    </div>
    <script>
        function get_fonts(){
            d={}
            console.log("calling")
            $(document).ready(function () {
                    $.ajax({
                        url: "/get_fonts",
                        data: d,
                        type: 'POST',
                        success: function (data, textStatus, jqXHR) {
                            console.log(data['ret'])
                            let markup=""
                            for(let i in data['ret']){
                                markup=markup+"<option value='" +data['ret'][i]+ "'>"+data['ret'][i]+"</option>"
                            }
                            document.getElementById("fonts").innerHTML=markup;

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log("not bad......")
                            alert("Error from server....")
                        },
                    })
                })
        }
        get_fonts()
        function Preview(){
            let font=document.getElementById("fonts").value
            let size=document.getElementById("size").value
            let col=document.getElementById("col").value
            let d={font:font,size:size,col:col}
            $(document).ready(function () {
                    $.ajax({
                        url: "/preview",
                        data: d,
                        type: 'POST',
                        success: function (data, textStatus, jqXHR) {
                            console.log(data)
                            let markup="data:image/png;base64,"
                            markup=markup+data
                            document.getElementById("img").src=markup
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log("not bad......")
                            alert("Error from server....")
                        },
                    })
                })
        }

        function Generate(){
            let font=document.getElementById("fonts").value
            let size=document.getElementById("size").value
            let col=document.getElementById("col").value
            let d={font:font,size:size,col:col}
            $(document).ready(function () {
                    $.ajax({
                        url: "/generate",
                        data: d,
                        type: 'POST',
                        success: function (data, textStatus, jqXHR) {
                            console.log(data)
                            alert(data)
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log("not bad......")
                            alert("Error from server....")
                        },
                    })
                })
        }



    </script>

</body>

</html>