<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="B-Long school" />

    <meta name="keywords" content="LMS,Learning Management System" />
    <meta name="description" content="Nice application" />


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/events.css') }}">

    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <!-- for apple-keyboard-command icon -->
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <script>
        
        function add_event(){
            console.log("adding event..")
            $(document).ready(function () {
                $("#main_fields").load("addevent")
        })
        }
    </script>

</head>

<body>
    <!-- PAGE CONTAINER-->
    <h4 class="page-title">
        <div class="title-1">
            <div class="icon-app"><iconify-icon icon="mdi:apple-keyboard-command"></iconify-icon></div>
            <a>Event</a>
        </div>
        <button class="add-cat" onclick="add_event()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <a >Add events</a>
        </button>
    </h4>







    <div class="card">
        <h4 class="title-2">Event</h4>
        <div class="drop-search">
            <div class="drop-no">
                <label for="counts">Show
                    <select name="counts" id="counts">
            
                        <option value="volvo">10</option>
                        <option value="saab">25</option>
                        <option value="volvo">50</option>
                        <option value="saab">500</option>
            
            
                    </select>entries
                </label>
            </div>
            <div class="search"> 
                <a>Search:<input type="text" placeholder=""></a>
            </div>
           
        </div>
        <hr>
       
        <div class="table-one">
            <table id="basic-datatable" class="table-col">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>To Time</th>
                        <th>From Time</th>
                        <th>Event Date</th>
                        <th>Publish</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <!-- <div class="dropdown1">
                               <button class="dropbtn"> <i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <div class="dropdown-content">
                                  <a href="https://blong.school/admin/speciality_form/edit_speciality_form/27">Add</a>
                                  <a href="https://blong.school/admin/speciality/delete/27">Delete</a>
                                </div>
                              </div> -->
                      
                        </th>
                    </tr>
                    <!-- <tr>
                        <th>2</th>
                        <th></th>
                        <th>SDD325</th>
                        <th>100 Rs</th>
                        <th>05-12-2020</td>
                        <th>05-12-2020</th>
                        <th>
                            <div class="dropdown1">
                                <i class="fa-solid fa-ellipsis-vertical"><button class="dropbtn"></button></i>
                                <div class="dropdown-content">
                                  <a href="https://blong.school/admin/speciality_form/edit_speciality_form/27">Add</a>
                                  <a href="https://blong.school/admin/speciality/delete/27">Delete</a>
                                </div>
                              </div>
                      
                        </th>
                    </tr> -->
                    <!-- <tr>
                        <th>3</th>
                        <th></th>
                        <th>SDD325</th>
                        <th>100 Rs</th>
                        <th>05-12-2020</td>

                        <th>
                            <div class="dropdown1">
                                <i class="fa-solid fa-ellipsis-vertical"><button class="dropbtn"></button></i>
                                <div class="dropdown-content">
                                  <a href="https://blong.school/admin/speciality_form/edit_speciality_form/27">Add</a>
                                  <a href="https://blong.school/admin/speciality/delete/27">Delete</a>
                                </div>
                              </div>
                      
                        </th>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
          </div>
    </div> <!-- end card body-->
      
</body>

</html>