<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="B-Long school" />

    <meta name="keywords" content="LMS,Learning Management System" />
    <meta name="description" content="Nice application" />


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Instructorlist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/instructorsettings.css') }}">

    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <!-- for apple-keyboard-command icon -->
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

</head>

<body>
    <!-- PAGE CONTAINER-->
    <h4 class="page-title">
        <div class="title-1">
            <div class="icon-app"><iconify-icon icon="mdi:apple-keyboard-command"></iconify-icon></div>
            <a> Instructor</a>
        </div>

    </h4>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3 header-title">Public instructor settings</h4>

                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Allow public instructor</label>
                            <select class="form-control select2 select2-hidden-accessible" data-toggle="select2"
                                name="allow_instructor" required="" data-select2-id="1" tabindex="-1"
                                aria-hidden="true">
                                <option value="1" selected="" data-select2-id="3">Yes</option>
                                <option value="0">No</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                data-select2-id="2" style="width: 455.6px;"><span class="selection"><span
                                        class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                                        aria-labelledby="select2-allow_instructor-bh-container"><span
                                            class="select2-selection__rendered"
                                            id="select2-allow_instructor-bh-container" role="textbox"
                                            aria-readonly="true" title="Yes"></span><span
                                            class="select2-selection__arrow" role="presentation"><b
                                                role="presentation"></b></span></span></span><span
                                    class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>
                        <div class="form-group">
                            <label for="instructor_application_note">Instructor application note</label>
                            <div class="form-group">
                                <textarea class="form-control" name="instructor_application_note" rows="8"
                                    cols="80">Fill all the fields carefully and share if you want to share any document with us it will help us to evaluate you as an instructor.</textarea>
                            </div>
                        </div>

                        <div class="row justify-content-center"><br>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-primary btn-block">Update settings</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3 header-title">Instructor commission settings</h4>

                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="instructor_revenue">Instructor revenue percentage</label>
                            <div class="input-group">
                                <input type="number" name="instructor_revenue" id="instructor_revenue"
                                    class="form-control" onkeyup="calculateAdminRevenue(this.value)" min="0" max="100"
                                    value="70">

                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="mdi mdi-percent"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="admin_revenue">Admin revenue percentage</label>
                            <div class="input-group">
                                <input type="number" name="admin_revenue" id="admin_revenue" class="form-control"
                                    value="30" disabled="" style="background: none; cursor: default;">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="mdi mdi-percent"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center"><br>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-primary btn-block">Update settings</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>