<!DOCTYPE html>
<html lang="en">

<head>

    <title>signup | B-Long school</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="B-Long school" />

    <meta name="keywords" content="LMS,Learning Management System" />
    <meta name="description" content="Nice application" />


    <html>

    <head>
        <!-- set the encoding of your site -->
        <meta charset="utf-8">
        <!-- set the viewport width and initial-scale on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/signup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
            rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
    <script>
        var base_url = 'https://blong.school/';
    </script>
</head>

<body class="gray-bg">

    <body>
        <!-- main container of all the page elements -->

        <div class="header-up">
            <div class="box">
                <div class="vl"></div>
                <div class="box-1">

                    <p>Call :</p>
                    <a href="tel:123-456-7890">(+91)8422004466</a>

                </div>
                <div class="vl"></div>
                <div class="box-2">
                    <p> Email :</p>
                    <a href="mailto: info@blongschool.com">info@blongschool.com</a>
                </div>
                <div class="vl"></div>

                <div class="right-box">
                    <i class="fa badge fa-lg" value=0>&#xf07a;</i>
                    <div class="btn">
                        <a href="">Login</a>/<a href="">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- header holder -->

        <nav>
            <div class="header-p1"><img src="{{ url_for('static',filename='signup_images/b-long-logo.png') }}"
                    class="logo"></div>
            <div id="toggle-btn">
                <label for="toggle">
                    <i class="fas fa-bars"></i>
                </label>
            </div>

            <input type="checkbox" id="toggle">

            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="">COURSE LIST </a></li>
                <li><a href=""> ABOUT US</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>

        <section>
            <div class="text-sign">
                <p>Sign up<a>
            </div>
            <div class="ho-lo-nav">
                <a href="https://blong.school/home">Home</a>
                <i class="fas fa-chevron-right"></i>
                <a class="active">signup</a>
            </div>
        </section>
        <section class="login-pg">
            <div class="title-main">
                <div class="title">Registration form</div>
                <div class="subtitle">Sign up and start learning..</div>
            </div>
            <hr>
            <div class="forms">
                <div class="content-box">
                    <div class="basic-group">
                        <div class="form-group">
                            <label for="first_name"><span class="input-field-icon"><i class="fas fa-user"></i></span>
                                First name:</label>
                            <input type="text" class="form-control" name="first_name" id="fname"
                                placeholder="First name" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name"><span class="input-field-icon"><i class="fas fa-user"></i></span>
                                Last name:</label>
                            <input type="text" class="form-control" name="last_name" id="lname" placeholder="Last name"
                                value="" required>
                        </div>
                        <div class="form-group">
                            <label for="registration-email"><span class="input-field-icon"><i
                                        class="fas fa-envelope"></i></span> Email:</label>
                            <input type="email" class="form-control" name="email" id="email" isfield="false"
                                placeholder="Email">
                            <span id="msg"></span>
                        </div>
                        <div class="form-group">
                            <label for="registration-mobile"><span class="input-field-icon"><i
                                        class="fas fa-envelope"></i></span> Mobile:</label>
                            <input type="text" class="form-control" name="mobile" id="mobile" isfield="false"
                                placeholder="Mobile" maxlength="10">
                            <span id="msg1"></span>
                            <p id="showerror" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label for="registration-password"><span class="input-field-icon"><i
                                        class="fas fa-lock"></i></span> Password:</label>
                            <input type="password" class="form-control" name="password" id="pass" placeholder="Password"
                                value="" required>
                        </div>
                        <div class="form-group">
                            <label for="re_password"><span class="input-field-icon"><i class="fas fa-lock"></i></span>
                                Confirm password:</label>
                            <input type="password" class="form-control" name="re_password" id="cpass"
                                placeholder="Confirm password">
                            <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
                        </div>
                        <div class="form-group">
                            <label for="speciality"><span class="input-field-icon"><i class="fas fa-lock"></i></span>
                                Speciality:</label>
                            <select class="form-control" name="speciality" id="selected_sp">
                                <option value="">Select speciality</option>
                                <option value=27>MBA Healthcare Students</option>
                                <option value=28>Sales Representatives</option>
                            </select>
                        </div>

                        <div class="forget">
                            <input type="checkbox" class="form-check-input" id="termsconditions">
                            <label class="form-check-label" for="termsconditions">I Agree <a data-toggle="modal"
                                    href="">Terms & Conditions</a>, <a data-toggle="modal" href="">Privacy
                                    Policy</a></label>
                        </div>


                    </div>
                </div>
                <div class="forget">
                    <button type="submit" class="btn" onclick="get_data()">Sign up</button>
                </div>
                <div class="account">
                    Already have an account? <a href="">Login</a>
                </div>
            </div>
        </section>


        <!-- footer area container -->
        <section class="footer-main">
            <div class="footer-area">
                <!-- aside -->

                <div class="footer-col">
                    <div class="logo"><a href="https://blong.school/home"><img
                                src="{{ url_for('static',filename='signup_images/b-long-logo.png') }}"
                                alt="B-Long School"></a></div>

                    <p>We have over 20 years experience providing expert Educational both businesses and
                        individuals. Our Investment Committee brings cades the industry expertise in driving our
                        investment approach. portfolio constructor and allocation</p>
                    <div class="gray-btn"> <a href="#" class="btn btn-default text-uppercase">Start Leaning Now</a>
                    </div>
                </div>

                <div class="footer-col-2">
                    <h3>Quick Links</h3>
                    <!-- fooer navigation -->
                    <hr>
                    <ul class="fooer-navigation list-unstyled">
                        <li><a href="https://blong.school/home/courses">All Courses</a></li>
                        <li><a href="https://blong.school/home/privacy_policy">Privacy Policy</a></li>
                        <li><a href="https://blong.school/home/terms_and_condition">Terms of Use</a></li>
                        <li><a href="https://blong.school/home/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>contact us</h3>
                    <hr>
                    <p>If you want to contact us about any issue our support available to help you 8am-7pm Monday to
                        saturday.</p>
                    <!-- ft address -->
                    <address class="ft-address">
                        <ul>
                            <div class="dt-1">
                                <div class="dt-img"><span class="fas fa-map-marker"><span
                                            class="sr-only">marker</span></span></div>
                                <p>Address: F-102, Satelite garden,near Wagheshwari mandir,Dindoshi,Goregaon(E.)</p>
                            </div>
                            <div class="dt-2">
                                <div class="dt-img"><span class="fas fa-phone-square"><span
                                            class="sr-only">phone</span></span></div>
                                <div>Call: <a href="tel:+2156237532">+(91) 8422004466</a></div>
                            </div>
                            <div class="dt-3">
                                <div class="dt-img"><span class="fas fa-envelope-square"><span
                                            class="sr-only">email</span></span></div>
                                <div>Email: <a href="mailto:info@blongschool.com">info@blongschool.com</a></div>
                            </div>
                        </ul>
                    </address>
                </div>
            </div>
            <hr>
            <div id="page-footer" class="font-lato">
                <div class="com-copy">
                    <p><a href="#">Auriga consulting</a> | &copy; 2020 <a href="#">B-Long School</a>, All rights
                        reserved</p>
                </div>
                <div class="row-holder">

                    <ul>
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                    </ul>


                </div>

            </div>

        </section>



        <!-- <span id="back-top" class="text-center fa fa-caret-up"></span>
     
        <div id="loader" class="loader-holder">
            <div class="block"><img src="https://blong.school/assets/images/svg/hearts.svg" width="100" alt="loader">
            </div>
        </div>
        </div> -->

        <script>
            function get_data() {
                let fname = document.getElementById("fname").value;
                let lname = document.getElementById("lname").value;
                let email = document.getElementById("email").value;
                let mobile = document.getElementById("mobile").value;
                let pass = document.getElementById("pass").value;
                let cpass = document.getElementById("cpass").value;
                let selectElement = document.querySelector('#selected_sp');
                let sp = selectElement.value;
                if (fname == "") {
                    alert("Enter name")
                }
                else if (lname == "") {
                    alert("Enter name")
                }
                else if (email == "") {
                    alert("Enter email")
                }
                else if (mobile == "") {
                    alert("Enter mobile number")
                }
                else if (pass == "") {
                    alert("Enter password")
                }
                else if (cpass == "") {
                    alert("Enter confirm password")
                }
                else if (sp == "") {
                    alert("select spaciality")
                }
                else if (pass != cpass) {
                    alert("password doesn't match")
                }
                else {
                    let data = { fname: fname, lname: lname, email: email, mob: mobile, pass: pass, cpass: cpass, sp: sp }
                    $(document).ready(function () {
                        $.ajax({
                            url: "http://127.0.0.1:5000/request_data",
                            data: data,
                            type: 'POST',
                            success: function (data, textStatus, jqXHR) {

                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log("not bad......")
                                alert("Error from server....")
                            },
                        })
                    })
                }




                /*
                
                */
            }


        </script>

    </body>


</html>